.article-list__article-card {
  &_link {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &_image {
    width: 100%;
    height: 350px;
    aspect-ratio: 2/1;
    object-fit: cover;
    display: block;

    &::before {
      content: '';
      display: block;
      padding-top: 85.5%;
      width: 100%;
      background-color: #cfcfcf;
    }
  }

  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
  }

  &_src,
  &_date {
    text-decoration: underline;
  }
}
